<div>     
    <div class="container-fluid">
        <h1>Hello, <span style="font-weight:bold;">{{ me.name }}</span>, You're chatting with
             <span style="font-weight:bold;">{{ currentConvoId == null ? "No-one :( please select a user" : getCurrentUser.name }}</span></h1>
        <hr>
              <div class="alert alert-warning alert-dismissible" role="alert">
                <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
                <strong>Warning!</strong> Still on beta stage.
              </div>
            <div class="row">
            <div class="col-sm-2">
                <ul id="example-1" class="list-group"> 
                    <li class="list-group-item">
                            <span style="font-weight:bold;">Matched Users</span>
                    </li>
                    <li v-for="(user,index) in users" class="btn btn-outline-primary list-group-item" v-on:click="selectUser(index)" >
                        <div>{{ user.name }}</div>
                    </li>
                </ul>
            </div>
            <div class="col-sm-8">
                <ul id="example-1" class="list-group"> 
                    
                    <li v-for="msg in messages" class="list-group-item">
                        <span style="font-weight:bold">{{ msg.name }}: </span> &nbsp;{{msg.text}}
                    </li>
                    <div v-if="sentiment != null">
                            <li class="list-group-item alert alert-info alert" @click="removeInsight">
                                    <span style="font-weight:bold">{{ sentiment }}</span>
                            </li>
                    </div>
                    <div class="input-group">
                        <input id="txtName"  v-model="txtInput" type="text" class="form-control" placeholder="Type your message..." 
                        @keyup.enter="addMessage" aria-describedby="basic-addon2">
                        <button class="input-group-addon btn btn-primary" id="basic-addon2">Enter</button>
                    </div>
                </ul>
            </div>
           
        </div>
    </div>
</div>
