<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <router-link class="navbar-item" to="/">
      <img src="/static/dank_dating_logo.png" width="28" height="28">
    </router-link>
  </div>

  <!--<div class="navbar-menu">
  <div class="navbar-end">-->
    <div id="nav-items">
      <div class="navbar-item">
        <router-link to="/chat" exact>
          Chat
        </router-link>
      </div>

      <div class="navbar-item">
        <router-link to="/register" exact v-on:click="logout">
          Logout
        </router-link>
      </div>
    </div>

<!--    </div>
  </div>-->
</nav>
