@import "styles/variables";

// npm depencies
//@import "~bootstrap/scss/bootstrap";
//@import "~font-awesome/scss/font-awesome";

// Project specific
//@import "styles/global";
//@import "styles/animate";

@import "node_modules/bulma/bulma.sass";

//$navbar-breakpoint: $tablet;

.navbar-brand {
  max-width: 35px;
}

#nav-items {
  display: inline-block;
  max-width: 400px;
  float: right;
  position: relative;
  top: -45px;
}

@media(min-width: 1074px) {
  #nav-items {
    top: 2px;
    float: right;
  }
}

.navbar-item {
  max-with: 200px;
  display: inline-block;
  color: white;
}


